body {
  background-image: url("https://images.unsplash.com/photo-1441757801704-6a71cffed732?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=159c5c35a7ece8f43ae4a6fbd9aaf09c");
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

p {
    font-family: 'Courier New';
    font-size: 20px;
}
h3 {
    color: white;
    text-align: center;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
   font-size: 20px;
    color: white;
    text-align: center;
    padding: 40px 20px;
    list-style-type: none;
}

li a:hover {
    color: white;
    list-style-type: none;
    text-decoration: underline;
}

a:visited {
    color: white;
}

.text-center {
    text-align: center;
}

#home {
    padding-top: 200px;
    color: white;
}
#shop{
    height: 650px;
       
}

#about{
   
    width: auto;
    height: 800px;
    color: white;
}
.fixed-nav-bar {
    position: fixed;
    width: 100%
}
